@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply
      h-auto
      w-auto
  }

  /* estilos usados no componente About.tsx */
  .about-container {
    @apply flex p-10 pl-56 pr-56 w-full mx-auto justify-center bg-gray-100
  }

  .btn-blue {
    @apply
      text-lg
      font-semibold
     text-white
     bg-brand
     hover:bg-blue-500
      p-2
      mr-3
      rounded-lg
  }

  .btn-gray {
    @apply
      text-lg
      font-semibold
      text-white
      bg-gray-600
      hover:bg-gray-700
      p-2
      rounded-lg
  }

  /* estilização do componente Header.tsx */
  .header-container {
    @apply
      flex
      flex-col
      items-center
      h-screen
      w-96
      bg-brand
      pt-5
  }

  .profile-img {
    @apply
      mb-3
      rounded-full
      mx-auto
      w-56
      pt-5
  }

  .profile-icons {
    @apply
      flex
      flex-col
      mt-10
      text-base
      font-semibold
      text-white
      space-y-3
  }

  .icons {
    @apply
      flex
      flex-row
      items-center
  }

  .icons img {
    @apply
      mr-6
  }

  /* estilização do componente SkillsList.tsx */
  .skills-items {
    @apply
      flex
      flex-col
      items-start
      justify-start
      space-y-1
  }

  /* estilizacao da pagina de portfolio */
  .header-portfolio {
    @apply
      flex
      flex-col
      w-full
      mx-auto
      py-14
      space-y-1
      items-center
      h-44
      bg-gray-100
  }

  .stacks-list {
    @apply
      flex
      flex-row
      items-center
      justify-center
      space-x-3
      py-10
  }

  .stacks-item {
    @apply
      font-medium
      text-base
      text-gray-600
      hover:text-black
  }

  .project-list {
    @apply
      grid
      grid-cols-2
      gap-5
      ml-36
      mr-36
      justify-items-center
  }

  .project-card {
    @apply
      flex
      flex-row
      w-full
      h-48
      bg-blue-800
  }

  .project-card img {
    @apply
      object-cover
      h-full
      max-w-72
      min-w-72
  }

  .project-card div {
    @apply
      flex
      flex-col
      p-5
      bg-gray-100
  }
  
  .project-title {
    @apply
      font-semibold
      text-lg
      underline
  }

  .project-description {
    @apply
      text-sm
      mt-2
      font-normal
  }

}
